[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
spotipy = "*"
gunicorn = "*"
pymongo = {extras = ["srv"], version = "*"}
tensorflow = "*"
scikit-learn = "*"
tensorflow-recommenders = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
